/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/app/code/Magento
/app/design/*/Magento
/app/i18n/Magento
/app/*.*

/*.*
!/compose.yaml
!/compose.local.yaml
!/compose.dev.yaml.template
!/composer.json
!/composer.lock
!/.gitignore
!/Gruntfile.js
!/package.json
!/README.md
!/auth.json
!/502.html
!/nginx.conf
!/buildspec.yml
!/appspec.yml
!/.aws
/bin
/dev/shell
/dev/*
!/dev/tools/grunt/configs/themes.js

/lib
/setup
/var
/vendor
/update
/phpserver
/node_modules
/generated

!app/etc
app/etc/*
!app/etc/env.php.template
!app/etc/migrations
!app/etc/config.php
!app/etc/di.xml
!package-lock.json
pub/*
!pub/media
pub/media/*
!pub/media/ves/
!pub/hub
!pub/errors
/.stgin
!sonar-project.properties
